* {
    padding: 0; 
    margin: 0;
}

body h2 h3 {
    font-size: 1rem;
}

#nav {
  border-bottom: 5px solid black;
}

.navbar-icon {
    height: 100px;
    width: 100px;
    float: right;
}

#submitBtn {
    width: 50%;
    margin: 0 auto;
}

#restaurant-results h3 {
    text-align: center;
}

#restaurant-results h4 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

#restaurant-website {
    padding: 30px;
    margin: 15px;
}

#restaurant-results img {
    margin: 0 auto;
}

/* ~~Movie HTML Formatting~~ */
#movie-results h3 {
    text-align: center;
}

#movie-results h4 {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

#movie-website {
    padding: 30px;
    margin: 15px;
}

#movie-results img {
    margin: 0 auto;
}

footer h3 {
    text-align: center;
}

.hide {
    display: none;
}

